{% extends "shared/base.html" %}

{% block title %} 
  <title>Optimize your choice</title>
{% endblock %} 

{% block content %} 
<div class="fullscreen">
    <div class="section" id="section1">
        <div class="container">
            <h2>1. Submit a File</h2>
            <!-- <form id="fileForm">
                <label for="file">Choose a file:</label>
                <input type="file" id="fileCsv" accept=".csv">
                <br><br>
            </form> -->

            <div id="drop-area" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                <p>Drag & Drop files here or <label for="file-input">browse</label></p>
                <input type="file" id="file-input" onchange="handleFiles(this.files)">
            </div>

        </div>
    
        <div class="container" id="result"></div>
        <!-- Button to Trigger Post --> 
        <button onclick="scrollToSection('section2')">Next</button>

        <div class="container">

            <h2>Select Algorithm</h2>

            <select id="algorithm" onchange="showFields()">
                <option value="" selected disabled>Wybierz algorytm</option>
                <option value="topsis">TOPSIS</option>
                <option value="rsm">RSM</option>
                <option value="spcs">SP-CS</option>
            </select>

            <form id="form">
                <div id="topsisFields" class="hidden">
                    <label for="param1">Waga ceny:</label>
                    <input type="text" id="param1" name="param1" required>
                    <br>
            
                    <label for="param2">Waga pojemności:</label>
                    <input type="text" id="param2" name="param2" required>
                    <br>
            
                    <label for="param3">Waga prędkości zapisu:</label>
                    <input type="text" id="param3" name="param3" required>
                    <br>
            
                    <label for="param4">Waga prędkości odczytu:</label>
                    <input type="text" id="param4" name="param4" required>
                    <br>
                </div>
            
                <div id="rsmFields" class="hidden">
                    <label for="param5">Parametr 5:</label>
                    <input type="text" id="param5" name="param5" required>
                    <br>
            
                    <label for="param6">Parametr 6:</label>
                    <input type="text" id="param6" name="param6" required>
                    <br>
            
                    <label for="param7">Parametr 7:</label>
                    <input type="text" id="param7" name="param7" required>
                    <br>
                </div>
            
                <div id="spcsFields" class="hidden">
                    <label for="param8">Punkty Aspiracji:</label>
                    <input type="text" id="param8" name="param8" required>
                    <br>
            
                    <label for="param9">Punkty Statusu Quo:</label>
                    <input type="text" id="param9" name="param9" required>
                    <br>
                </div>
            
                <input type="submit" value="Wyślij">
            </form>

            <label for="weightsInput">Choose algorithm parameters:</label>
            <div id="weightsForm">

            </div>
            <!-- <button onclick="postCsvData()">Submit Data</button> -->
            <button onclick="mergeData()">Submit Data</button>
            <button onclick="scrollToSection('section3')">Next</button>
        </div>
    </div>


    <div class="section" id="section3">
        
        <p>Sekcja 3</p>
        <button onclick="scrollToSection('section1')">Top</button>
        <button onclick="createTable(5, 3)">Show Result</button>

        <div id="table-container"></div>
          
    </div>
</div>
{% endblock %} 