{% extends "shared/base.html" %}

{% block title %} 
  <title>Optimize your choice</title>
{% endblock %} 

{% block content %} 
<div class="fullscreen">
    <div class="section" id="section1">
        <div class="container">
            <h2>1. Submit a File</h2>
            <!-- <form id="fileForm">
                <label for="file">Choose a file:</label>
                <input type="file" id="fileCsv" accept=".csv">
                <br><br>
            </form> -->

            <div id="drop-area" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                <p>Drag & Drop files here or <label for="file-input">browse</label></p>
                <input type="file" id="file-input" onchange="handleFiles(this.files)">
            </div>

        </div>
    
        <div class="container" id="result"></div>
        <!-- Button to Trigger Post --> 
        <!-- <button onclick="scrollToSection('section2')">Next</button> -->

        <div class="container">

            <h2>Select Algorithm</h2>

            <select id="algorithm" onchange="showFields()">
                <option value="" selected disabled>Wybierz algorytm</option>
                <option value="topsis">TOPSIS</option>
                <option value="rsm">RSM</option>
                <option value="spcs">SP-CS</option>
            </select>

            <form id="form_params">
                <div id="topsis_params" class="hidden">
                    <label for="topsis_param_1">Waga ceny:</label>
                    <input type="text" id="topsis_param_1" name="topsis_param_1" required>
                    <br>
            
                    <label for="topsis_param_2">Waga pojemności:</label>
                    <input type="text" id="topsis_param_2" name="topsis_param_2" required>
                    <br>
            
                    <label for="topsis_param_3">Waga prędkości odczytu:</label>
                    <input type="text" id="topsis_param_3" name="topsis_param_3" required>
                    <br>
            
                    <label for="topsis_param_4">Waga prędkości zapisu:</label>
                    <input type="text" id="topsis_param_4" name="topsis_param_4" required>
                    <br>
                </div>
            
                <div id="rsmFields" class="hidden">
                    <label for="rsm_param_1">Parametr 5:</label>
                    <input type="text" id="rsm_param_1" name="param1" required>
                    <br>
            
                    <label for="rsm_param_2">Parametr 6:</label>
                    <input type="text" id="rsm_param_2" name="param2" required>
                    <br>
            
                    <label for="rsm_param_3">Parametr 7:</label>
                    <input type="text" id="rsm_param_3" name="param3" required>
                    <br>
                </div>
            
                <div id="spcsFields" class="hidden">
                    <label for="spcs_param_1">Punkty Aspiracji:</label>
                    <input type="text" id="spcs_param_1" name="param1" required>
                    <br>
            
                    <label for="spcs_param_2">Punkty Statusu Quo:</label>
                    <input type="text" id="spcs_param_2" name="param2" required>
                    <br>
                </div>
            
                <!-- <input type="submit" value="Wyślij"> -->
            </form>

            <label for="weightsInput">Choose algorithm parameters:</label>
            <div id="weightsForm">

            </div>
            <!-- <button onclick="postCsvData()">Submit Data</button> -->
            <button onclick="mergeData()">Submit Data</button> 
            <br>
            <button onclick="scrollToSection('section3')">Next</button>
        </div>
    </div>


    <div class="section" id="section3">
        
        <p>Sekcja 3</p>
        <button onclick="scrollToSection('section1')">Top</button>
        <button onclick="createTable(5, 3)">Show Result</button>

        <div id="table-container"></div>
          
    </div>
</div>
{% endblock %} 