<!-- HTML !-->
<script>
    // JavaScript function to handle post request with selected data
    function postCsvData() {
        // Get data from web page
        var data = document.querySelector('#fileCsv').files;
        
        // Parse data to JSON
        console.log(data)
        json_data = JSON.stringify({
                    userId: 1,
                    title: "User Data",
                    completed: false})

        // Fetch API to send a POST request
        fetch('/algoEnd', {
            method: 'POST',
            body: json_data
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    // Funkcja obsługująca wczytanie pliku CSV
    function handleFileUpload() {
        // Send data to backend algorithm first
        postCsvData();

        // Gather informations needed to build algorithm selection page
        var files = document.querySelector('#fileCsv').files;
        const resultDiv = document.getElementById('result'); // debug only

        if(files.length > 0 ){
            var file = files[0];
            var reader = new FileReader();
            reader.readAsText(file);

            reader.onload = function(event) {
                var csvdata = event.target.result;
                csv_arr = CSVToArray(csvdata, ','); // Here it is, work on it
                console.log(csv_arr);

                params_num = csv_arr[0].length - 1;
                console.log(params_num);
                
                resultDiv.innerHTML = csv_arr[0];
            };
        } else{
            alert("Please select a .csv file.");
        }
    }

	function CSVToArray( strData, strDelimiter ){
		strDelimiter = (strDelimiter || ",");

		var objPattern = new RegExp(
			(
				"(\\" + strDelimiter + "|\\r?\\n|\\r|^)" +

				"(?:\"([^\"]*(?:\"\"[^\"]*)*)\"|" +

				"([^\"\\" + strDelimiter + "\\r\\n]*))"
			),
			"gi"
			);

		var arrData = [[]];
		var arrMatches = null;

        while (arrMatches = objPattern.exec( strData )){
			var strMatchedDelimiter = arrMatches[ 1 ];

			if (
				strMatchedDelimiter.length &&
				(strMatchedDelimiter != strDelimiter)
				){
				arrData.push( [] );
			}
			if (arrMatches[ 2 ]){
				var strMatchedValue = arrMatches[ 2 ].replace(
					new RegExp( "\"\"", "g" ),
					"\""
					);

			} else {
				var strMatchedValue = arrMatches[ 3 ];

			}
			arrData[ arrData.length - 1 ].push( strMatchedValue );
		}
		return( arrData );
	}
</script>